@using PetGuardians.Utilities
@model IndexViewModel
@{
    ViewData["Title"] = "Zarządzaj kontem";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Zmień</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Swtórz</a>
            }
        </dd>
        <dt>Imię:</dt>
        <dd>@Model.FirstName</dd>
        <dt>Nazwisko:</dt>
        <dd>@Model.LastName</dd>
        <dt>Adres:</dt>
        <dd>@($"{Model.Town} ul. {Model.Street} {Model.PostNumber} ")</dd>
        <dt>Numer telefonu:</dt>
        <dd>@Model.PhoneNumber</dd>
    </dl>
</div>
