@model List<PetGuardians.Models.Guardian.OfferVm>

<div class="container">
    <h3>Wyszukaj ofertę dla siebie</h3>
    <table class="table table-hover">
        <tr>
            <th>Nazwa oferty</th>
            <th>Opis</th>
            <th>Miasto</th>
            <th>Opieka od</th>
            <th>Do</th>
            <th>Cena</th>
            <th></th>
        </tr>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Name</td>
                <td>@offer.Description</td>
                <td>@offer.Town</td>
                <td>@offer.From.ToString("d")</td>
                <td>@offer.To.ToString("d")</td>
                <td style="white-space: nowrap;">@offer.Price zł</td>
                @if (offer.CanApply)
                {
                    <td><a href="/opieka/aplikuj/@offer.Id" class="btn btn-success">Aplikuj</a></td>
                }
                else if(offer.MyOffer)
                {
                    <td><a href="/opieka/@offer.Id" class="btn btn-default">Moja oferta</a></td>
                }
                <td><a href="/wiadomosci/nowa/@offer.Id" class="btn btn-info">Wyślij pytanie</a></td>
            </tr>
        }
    </table>
</div>